{% extends 'base.html.twig' %}

{% block title %}Thêm văn bản chỉ đạo{% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item">Văn bản chỉ đạo</a></li>
    <li class="breadcrumb-item active" aria-current="page"> <a href="{{ path('app_instruction_document_new') }}">Thêm văn bản chỉ đạo</a></li>
</ol>

<h5 style="color: black; text-align: center;"><b>Thêm văn bản chỉ đạo</b></h5>

    {% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="row mt-3">
        <div class="col-auto">
            <button class="btn btn-success btn-sm">
                <i class="fas fa-save"></i> {{ button_label|default('Lưu') }}
            </button>
        </div>
        <div class="col-auto">
            <a href="{{ path('app_instruction_document_index') }}" class="btn btn-warning btn-sm">Trở lại</a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
