{% extends 'base.html.twig' %}

{% block title %}Chỉnh sửa thông tin đoàn viên{% endblock %}

{% block content %}

    <h5><b style="color: black;">Chỉnh sửa thông tin đoàn viên</b></h5>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="row mt-3">
            <div class="col-auto">
                <button class="btn btn-success btn-sm">
                    <i class="fas fa-save"></i> {{ button_label|default('Lưu') }}
                </button>
            </div>
            <div class="col-auto">
                <a href="{{ path('app_user_index') }}" class="btn btn-warning btn-sm">Trở lại</a>
            </div>
        </div>
    {{ form_end(form) }}

{% endblock %}
